importFrom(
  "stats", "acf","as.ts","decompose","end","frequency","is.ts","lm","median",
  "start","time","ts","lsfit","optim","quantile","rnorm","sd","shapiro.test",
  "window"
)

importFrom("utils", "tail")

importFrom("graphics", "legend", "plot", "points", "polygon")

importFrom("parallel","mclapply")

importFrom("foreach","%do%","foreach")

importFrom(
  "forecast","snaive", "mstl", "BoxCox.lambda", "BoxCox", "InvBoxCox",
  "bld.mbb.bootstrap"
)

importFrom("tseries","terasvirta.test", "kpss.test")

export(dotm, dstm, otm, stm, expSmoot, otm.arxiv, stheta, plot.thetaModel, groe,
       fixOrig, rolOrig,  errorMetric, bagged_dotm, bagged_dstm, bagged_otm,
       bagged_stm, seasonal_test, PI_eval)

S3method(plot, thetaModel)
S3method(print, thetaModel)
S3method(summary, thetaModel)
S3method(print, summ)

#exportPattern("^[[:alpha:]]+")
